<div class="modal fade" #modalInfo tabindex="-1" role= "dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered align-items-start" role="document">
      <div class="modal-content bg-full-size p-3"  style="background-image:url('assets/img/rewind/assets-figma-clean.png');" >
      <div class="modal-body">
      <div class="row align-items-center justify-content-between">
        <div class="col">
            <p class="bg-white align-items-center d-inline text-primary rounded-pill px-3 py-2 pe-6 text-lg ">
              <i class="fas fa-brain me-3"></i>Focus
            </p>
        </div>
      </div>
     </div>
    </div>
  </div>