<div class="container pt-5">
  <table class="table">
    <thead class="thead-dark">
      <h3>lista de Usuarios</h3>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col text-truncate">Mas Informacion</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of listUsers">
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><button type="button" class="btn btn-primary" (click)="moreInformation(user)"> ... </button></td>
        <td><button type="button" class="btn btn-danger"  (click)="openConfirmModal(user.id)"> X </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" #modalInfo tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content justify-content-between" >
      <div class="modal-header">
        <h4>Informacion de Usuario</h4>
      </div>
      <div class="modal-body">
       Nombre: {{selectUser?.name}}
       UserName: {{selectUser?.userName}}
       Correo: {{selectUser?.email}}
      </div>
    </div>
  </div>
</div>